@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;600;700&display=swap");

body {
  font-family: "Nunito", sans-serif;
  color: white;
}

.bg-lighter {
  background-color: #f1f2f3;
}

.bg-darker {
  background-color: #212121;
}

.widget-bg-light {
  background-color: #fafafa;
}

.widget-bg-dark {
  background-color: #2a2a2a;
}

.widget-wrap {
  border-radius: 8px;
  margin-bottom: 10px;
}

.widget-title {
  border-bottom: 1px solid #665351;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 600;
  padding: 10px;
}

.widget-value .value {
  font-size: 57px;
  font-weight: 700;
  line-height: 100%;
}

.widget-value {
  padding: 10px;
}

text {
  fill: rgb(90, 90, 90);
}

.border-dashed {
  border: 1px dashed #3b3f5c;
}

.widget-txt {
  vertical-align: middle;
  line-height: 1;
}

.widget-detail {
  width: 20%;
}

/* .col {
  margin-bottom: 10px;
  margin-top: 10px;
} */
